body{
	background-color: lightgrey;
	margin: 0;
	padding: 0;
	max-width: 100%;
    overflow-x: hidden;
	display: block;
    height: 100%;
	
}

.probaaa1{
	display: block;
	margin: 0 auto;
	background-color: yellow;
	position: absolute;
	border: 2px solid black;
	width: 20vw;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-bottom: 20%;
	
		 }

.probaaa1  {
animation: rotation 7s infinite linear;

}

@keyframes rotation{
0%{
	transform: translate(-50%, -50%) rotate(0deg);
}
100%{
	transform: translate(-50%, -50%) rotate(360deg);
}
}